#parse("base.html")
#@mainLayout()
<h1>Dashboard</h1>
<a href="/new_order">New order</a>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>State</td>
        <td>createTime</td>
        <td>Organs</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    #foreach ($order in $orders)
    <tr>
        <td>
            <a href="orders/$order.getId()/info">$order.getId()</a>
        </td>
        <td>$order.getState()</td>
        <td>$order.getCreateTime()</td>
        <td>$order.getOrgans().size()</td>
        <td>
            <a href="orders/$order.getId()">Edit</a>
        </td>
    </tr>
    </tbody>
    #end
</table>
<a href="?action=undo">Undo</a>
<a href="?action=redo">Redo</a>
<h2>History</h2>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>CreateTime</td>
        <td>Info</td>
    </tr>
    </thead>
    <tbody>
    #foreach ($snapshot in $history)
        <tr #if ($historyCurrentId == $velocityCount) style="font-weight: bold" #end>
            <td>$velocityCount</td>
            <td>$snapshot.getCreateTime()</td>
            <td>
                #foreach ($order in $snapshot.getOrders())
                    $order.toJson()
                #end
            </td>
        </tr>
        </tbody>
    #end
</table>

#end
