#parse("base.html")
#@mainLayout()
<h1>Dashboard</h1>
<h2>Orders</h2>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>State</td>
        <td>createTime</td>
        <td>Organs</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    #foreach ($command in $commands)
    <tr>
        <td>
            <a href="commands/$command.getId()/info">$command.getId()</a>
        </td>
        <td>$command.getState()</td>
        <td>$command.getCreateTime()</td>
        <td>$command.getOrgans().size()</td>
        <td>
            <a href="commands/$command.getId()">Edit</a>
        </td>
    </tr>
    </tbody>
    #end
</table>
<h2>History</h2>
#end
