#parse("base.html")
#@mainLayout()
<div class="bar-h">
<h1>Dashboard</h1>
<a class="buttonBig" href="/new_order">New order<i class="fas fa-cart-plus" style="margin-left: 10px"></i></a>
</div>
<table id="odrer-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>State</th>
        <th>createTime</th>
        <th>Organs</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    #foreach ($order in $orders)
    <tr>
        <td>
            <a href="orders/$order.getId()/info">$order.getId()</a>
        </td>
        <td>$order.getState()</td>
        <td>$order.getCreateTime()</td>
        <td>$order.getOrgans().size()</td>
        <td>
            <a href="orders/$order.getId()">Edit</a>
        </td>
    </tr>
    </tbody>
    #end
</table>
<div class="button-row">
<a class="buttonSmall" href="?action=undo"><i class="fas fa-undo" style="margin-right: 10px"></i>Undo</a>
<a class="buttonSmall" href="?action=redo">Redo<i class="fas fa-redo" style="margin-left: 10px"></i></a>
</div>
<h2>History</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>CreateTime</th>
        <th>Info</th>
    </tr>
    </thead>
    <tbody>
    #foreach ($snapshot in $history)
        <tr #if ($historyCurrentId == $velocityCount) style="font-weight: bold" #end>
            <td>$velocityCount</td>
            <td>$snapshot.getCreateTime()</td>
            <td>
                #foreach ($order in $snapshot.getOrders())
                    $order.toJson()
                #end
            </td>
        </tr>
        </tbody>
    #end
</table>

#end
