#parse("base.html")
#@mainLayout()
<div class="bar-h">
<h1>Order #$order.getId() Customer</h1>
<a class="buttonSmall" href="/"><i style="margin-right: 10px;" class="fas fa-chevron-circle-left"></i> Go to Dashboard</a>
</div>
<h2>Status</h2>
<p>State : $order.getState()</p>
<p>Creation date : $order.getCreateTime()</p>
<p>Last modification : $order.getLastModification()</p>
<h2>Detail</h2>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Condition</td>
        <td>Category</td>
        <td>Description</td>
    </tr>
    </thead>
    <tbody>
    #foreach ($organ in $order.getOrgans())
    <tr>
        <td>$velocityCount</td>
        <td>$organ.getName()</td>
        <td>$organ.getCondition()</td>
        <td>$organ.getCategory()</td>
        <td>$organ.getDescription()</td>
    </tr>
    </tbody>
    #end
</table>
#end
