#parse("base.html")
#@mainLayout()
<h1>Order #$order.getId() Team</h1>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>State</td>
            <td>CreatedTime</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>$order.getId()</td>
            <td>$order.getState()</td>
            <td>$order.getCreateTime()</td>
        </tr>
    </tbody>
</table>

<form method="POST" >
    <select name="state">
        <option value="">-- CHANGE STATE --</option>
        <option value="new">NEW</option>
        <option value="in_progress">IN PROGRESS</option>
        <option value="finished">FINISHED</option>
        <option value="canceled">CANCELED</option>
    </select>
    <input type="submit">
</form>
#end
